
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PyChat Chat App</title>
    <meta content="PyChat - Python based Chat App" name="description" />
    <meta name="keywords" content="chat, web chat template, chat status, chat template, communication, discussion, group chat, message, messenger template, status"/>

    <meta content="msaidbilgehan" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" id="tabIcon">

    <!-- glightbox css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/glightbox/css/glightbox.min.css') }}">

    <!-- One of the following themes -->
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/@simonwep/pickr/themes/nano.min.css') }}">

    <!-- swiper css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/swiper/swiper-bundle.min.css') }}">

    <!-- Bootstrap Css -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" id="bootstrap-style" rel="stylesheet" type="text/css" />

    <!-- Icons Css -->
    <link href="{{ url_for('static', filename='css/icons.min.css') }}" rel="stylesheet" type="text/css" />

    <!-- App Css-->
    <link href="{{ url_for('static', filename='css/app.min.css') }}" id="app-style" rel="stylesheet" type="text/css" />


</head>
