
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>PyChat Chat App</title>
<meta content="PyChat - Python based Chat App" name="description" />
<meta name="keywords" content="chat, web chat template, chat status, chat template, communication, discussion, group chat, message, messenger template, status"/>

<meta content="msaidbilgehan" name="author" />



<!-- App favicon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" id="tabIcon">

<!-- css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!-- fonts -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>


<!-- JS -->
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.concat.min.js'></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
